# Laravel
caliph-api/vendor/
caliph-api/node_modules/
caliph-api/storage/*.key
caliph-api/storage/framework/*
caliph-api/storage/logs/*
caliph-api/bootstrap/cache/*

# React
caliph-web/node_modules/
caliph-web/dist/

# Environment files
caliph-api/.env
caliph-web/.env

# OS
.DS_Store
Thumbs.db