# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Laravel
vendor/
backend/vendor/
storage/*.key
storage/framework/*
storage/logs/*
bootstrap/cache/*

# Environment files
.env
frontend/.env
backend/.env

# OS files
.DS_Store
Thumbs.db
